.signup-page {
    width: 100vh;
    display: flex;
    align-content: stretch;
    justify-content: center;
    padding: 8px;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-end;
}
.signup-inputs {
    justify-content: center;
    height: 150px;
    width: 300px;
}
link.signup-page {
    text-align: center;
    margin: 20px;
    padding: 25px;
}
form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
input {
    display:flex;
    padding: 6px;
}
a.signup-inputs {
    display: flex;
}
