.signup-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.signup-inputs {
    align-content: center;
    background-color: aqua;
    height: 200px;
    width: 200px;
    margin: 20px;
}